/*!----------------------------------------FOOTER-------------------------------*/


footer {
    border-top: 1px solid nth($colores-basicos, 2);
    border-bottom: 1px solid nth($colores-basicos, 2);
    padding: 10px 0px;
    margin-top: 50px;
    @extend %fondo-naranja;

    div {
        div {
            div {
                div {
                    text-align: center;
                    margin: 20px 0px;

                    ul {
                        margin: 0px;
                        padding: 0px;

                        li {
                            list-style: none;
                            text-align: center;
                            display: inline-block;

                            a {
                                width: 50px;
                                height: 50px;
                                margin: 10px 5px;
                                background-color: $color-backboton;
                                text-decoration: none;
                                border-radius: 50%;
                                display: block;
                                &:hover i {
                                    color: $color-principal;
                                    font-size: 28px;

                                }
                                i {
                                    
                                    cursor: pointer;
                                    color: nth($colores-basicos, 2);
                                    line-height: 50px;
                                    font-size: 22px;
                                    transition: all 0.4s;
                                    
                                }
                            }
                        }
                    }
                }
                
                p {
                    a{
                        color: $color-secundario;
                    }
                    
                }
            }
        }
    }
}